html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.map {
  height: 300px;
  width: 100%;
  margin-bottom: 1em;
  border: 3px solid rgb(230, 230, 230);
}

.fi-arrow-right:before {
  content: ">";
}

.fi-arrow-left:before {
  content: "<";
}

#panel {
  color: #fff;
  padding: 100px 0;
  background: url("/img/cover.jpg") no-repeat center fixed; 
  background-size: cover;
}

/* Menu Hack */
#profileDropdown {
  padding: 0;
}

#profileDropdown a {
  width: 100%;
}

.button-group .button {
      border-right: 0 !important;
}

#profileButton {
      line-height: 0.9;
}
