End
#scripts
  script(src='/js/jquery.min.js')
  script(src='/js/what-input.min.js')
  script(src='/js/foundation.min.js')
  script(src='/js/main.js')

  if needDatePicker == true
    script(src='/js/foundation-datepicker.min.js')
    script(src='/js/foundation-datepicker.fr.js')

  if needGoogleMaps == true
    script(src='/js/gMaps.js')
    script(src='https://maps.googleapis.com/maps/api/js\
?key=#{config.GMAPS_API_KEY}&libraries=places', async, defer)
