html
  head
    title BLUT
    link(rel="stylesheet", type="text/css", href="/css/foundation.min.css")
    link(rel="stylesheet", href="/css/main.css")
    meta(name='viewport', content="width=device-width,initial-scale=1.0")
    if needDatePicker == true
      link(rel="stylesheet", href="/css/foundation-datepicker.min.css")
  body
    .top-bar
      .top-bar-left
        ul.menu
          li.menu-text BLUT
          li
            a(href='#') Menu1
