html
  head
    title #{config.SITE_TITLE} | #{pageTitle}
    link(rel="stylesheet", type="text/css", href="/css/foundation.min.css")
    link(rel="stylesheet", href="/css/main.css")
    meta(name='viewport', content="width=device-width,initial-scale=1.0")
    if needDatePicker == true
      link(rel="stylesheet", href="/css/foundation-datepicker.min.css")
  body
    .top-bar
      .top-bar-left
        ul.menu
          a(href="/")
            li.menu-text= config.SITE_TITLE
      .top-bar-right
        ul.menu.vertical.medium-horizontal.menu
          li.button-group.stacked-for-small
            a.button(href="/me") Mon profil
            a.button(href="/") Rechercher
            a.button(href="/offer") Proposer
