extends ./layout.jade

block vars
  - var pageTitle="Accueil"
  - var needDatePicker=true
  - var needGoogleMaps=true
  - var loadSideScript=true

block content
  form#panel.row.expanded
    .small-11.small-centered.large-4.columns
      h1.textShadow Quel est votre trajet ?
      .input-group
        span.input-group-label A partir de
        input#from.input-group-field(type="text", autocomplete="off", placeholder="Entrez un lieu")
      .input-group
        span.input-group-label Jusqu'à
        input#to.input-group-field(type="text", autocomplete="off", placeholder="Entrez un lieu")
      .input-group
        span.input-group-label Date
        input#date.input-group-field(type="text", autocomplete="off", placeholder="Entrez une date")
      button#search.small.expanded.button Rechercher
  .small-11.small-centered.columns
    h2.vertivalMargin.textAlignCenter Derniers covoiturages proposés
    #searchResults.row
