extends ./layout.jade

block vars
  - var pageTitle="Accueil"
  - var needDatePicker=true
  - var needGoogleMaps=true
  - var loadSideScript="index"

block content
  form#panel.row.small-12.columns.expanded
    .small-9.small-centered.large-3
      h1 Quel est votre trajet ?
      .input-group
        span.input-group-label A partir de
        input#from.input-group-field(type="text", autocomplete="off", placeholder="Entrez un lieu")
      .input-group
        span.input-group-label Jusqu'à
        input#to.input-group-field(type="text", autocomplete="off", placeholder="Entrez un lieu")
      .input-group
        span.input-group-label Date
        input#date.input-group-field(type="text", autocomplete="off", placeholder="Entrez une date")
      button#search.small.expanded.button Rechercher
  .small-9.small-centered.row
    h2 Derniers
