extends ./layout.jade

block vars
  - var pageTitle="Login"
  - var loadSideScript=true

block content
  .callout.small.secondary
    .row.column.text-center
        h1 Redirection
          h2.subheader Connexion au CAS UTC

block prepend scripts
  script var SITE_URL = '#{config.SITE_URL}' 
