extends ./layout.jade

block vars
  - var pageTitle="Login"
  - var loadSideScript=true

block content
  #panel.fullPage.row.columns.expanded
    .small-9.small-centered.large-5
      h1.textShadow Redirection...
      .progress
        .progress-meter(style="width: 33%")

block prepend scripts
  script var SITE_URL = '#{config.SITE_URL}' 
