- var pageTitle="Login"
include header.jade

.callout.small.secondary
  .row.column.text-center
      h1 Redirection
        h2.subheader Connexion au CAS UTC

script var sd = '#{config.SITE_URL}' 
script.

  setTimeout(function () {
    window.location.href = "https://cas.utc.fr/cas/login?service=" + sd + "/login";
  }, 500);


include footer.jade
