- var pageTitle="Welcome"
include header.jade

#panel.row.small-12.columns.expanded
  .small-9.small-centered.large-5
    h1 Faites du covoiturage. <br/>Simplement.
    p Ce site fonctionne avec l'authentification de l'UTC. Laissez-vous guider.
    a.large.expanded.button(href="/login") Se connecter avec le CAS UTC
    a.small.hollow.white.expanded.button(href="#{config.ABOUT_URL}") En apprendre plus sur Captain Covoit

include footer.jade
